@import "normalize.css";
@import "common.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic-ext);

/*Variables*/
$mainFontStack: 'Open Sans', sans-serif;
$mainFontSize: 11pt;
$mainColor: #746254;
$linkColor: #7fc6c3;
$whiteColor: #fff;
$headerPadding: 10px 5px 10px 5px;
$noMargin: 0;
$noPadding: 0;
$listPadding: 0 10px 0 0;
$footerMargin: 20px auto 20px auto;
$friendBgColor: #f7f7f1;
$friendPadding: 10px 15px 10px 15px;
$friendTextColor: #83888c;
$friendFontSize: 13pt;
$friendLinksFontSize: 9pt;
$friendHeight: 90px;
$redColor: #ca7068;
$friendMargin: 10px 0 0 0;
$menuPadding: 0px 0 0px 0;
$footerFontSize: 10pt;
$menuFontSize: 11pt;
$hrMargin: 10px 0 0px 0;
$mainBlockHeight: 420px;
$formPadding: 15px 0 15px 0;
$formInfoFontSize: 9pt;

/*Mixins*/
@mixin wrapper($width: 980px) {
  width: $width;
  margin: 0 auto;
}

@mixin circle($radius: 50%) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

/*Common*/
html, body {font-family: $mainFontStack; font-size: $mainFontSize; color: $mainColor; background: $whiteColor;}
a {color: $redColor; text-decoration: underline;}
  a:hover {color: $mainColor;}
hr {background: #e5e5df; height: 1px; border: 0; display: block; margin: $hrMargin; padding: $noPadding;}
.-text_center {text-align: center;}
.-text_right {text-align: right;}
.-wrapper {@include wrapper(500px);}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  font-family: $mainFontStack;
}

/*Header*/
.header {padding: $headerPadding;}

/*Menu*/
.menu {padding: $menuPadding; font-size: $menuFontSize;}

/*Form*/
.form {
  padding: $formPadding;

  .search {}
  .info {font-size: $formInfoFontSize;}
}

/*Main*/
.main {height: $mainBlockHeight; overflow-y: scroll;}

/*List*/
.list {margin: $noMargin; padding: $noPadding; list-style: none;}
  .list li {display: inline-block; padding: $listPadding;}
    .list li:last-child {padding: $noPadding;}

/*Friends*/
.friend {
  background: $friendBgColor; padding: $friendPadding; font-size: $friendFontSize; height: $friendHeight;

  .ava {display: table-cell; vertical-align: middle;}
  .description {display: table-cell; vertical-align: middle;}
  .invite {display: table-cell; vertical-align: middle;}
}
  .friend + .friend {margin: $friendMargin;}
  .friend .link {font-size: $friendLinksFontSize; color: $redColor;}
  .friend .invite {line-height: $friendHeight;}

/*Icons*/
.heart {display: block; height: 30px; width: 33px; background: url(../i/img--heart.png) no-repeat;}
  .heart.-inline {display: inline-block;}
  .heart:hover, .heart.-red {background-position: 0 -32px;}

/*Footer*/
.footer {margin: $footerMargin; font-size: $footerFontSize;}